<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Canducci.Forecast" version="0.0.1" targetFramework="net4" />
  <package id="CanducciCEP" version="2.0.2" targetFramework="net4" />
  <package id="CanducciQuoteDolar" version="1.0.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net4" />
</packages>